*{
  margin: 0;
  padding: 0;
}
body{
  background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1 {
 
  text-align: center;
  color: rgb(216, 216, 219);
  justify-content: center;
}
header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 100%;
  text-align: center;
  border: 1px solid black;
}
form{
  border: 1px solid #cfd9df;
  
  
}

button{
  border-radius: 8px;
  padding: 3px;

}
a{
  text-emphasis: none;
  text-decoration: none;
  color: black;
}